<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("modules/head") %>
  <%- include("modules/defaults") %>
  <title>MediaMix</title>
  <style>
    /* Add CSS styles for the video tiles */
    .videos-container {
      display: grid;
      grid-template-columns: repeat(3, 30vw); /* Three columns with fixed width for landscape */
      gap: 10px; /* Add spacing between video tiles */
      justify-content: space-between; /* Align content */
      overflow: hidden;
    }

    .video-home {
      margin-bottom: 10px; /* Add spacing between video rows */
      max-width: 30vw; /* Limit max width for landscape */
      cursor: pointer;
    }

    /* Adjust styles for portrait orientation */
    @media (orientation: portrait) {
      .videos-container {
        grid-template-columns: 100%; /* One column in portrait */
      }

      .video-home {
        width: calc(100% - 20px); /* Full width minus spacing for portrait */
        max-width: calc(100% - 20px); /* Max width minus spacing for portrait */
        margin-bottom: 10px; /* Add spacing between video rows */
      }
    }

    .video-thumbnail-home {
      max-width: 100%;
    }

    .video-details-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px; /* Add margin for spacing from the thumbnail */
  width: 100%;
}

.video-details-home p {
  margin-top: 5px; /* Adjust top margin for spacing between title and views */
}

.video-details-home h6,
.video-details-home p {
  margin: 0; /* Remove default margin */
}


    .hidden {
      display: none; /* Hide elements */
    }
  </style>
</head>

<body>
  <%- include("modules/navbar") %>
  <main class="m-4">
    <section>
      <h3 class="<%= (catParam === '2' || catParam === null || catParam === '0') ? '' : 'hidden' %>"><a href="/?cat=2">Continue Watching <i class="fa-solid fa-chevron-right"></i></a></h3>
      <div class="videos-container" id="continueWatching">
        <!-- Video tiles will be dynamically generated here -->
      </div>
      <h3 class="<%= (catParam === '3' || catParam === null || catParam === '0') ? '' : 'hidden' %>"><a href="/?cat=3">Recommended For You <i class="fa-solid fa-chevron-right"></i></a></h3>
      <div class="videos-container" id="recommendedVideos">
        <!-- Video tiles will be dynamically generated here -->
      </div>
      <h3 class="<%= (catParam === '4' || catParam === null || catParam === '0') ? '' : 'hidden' %>"><a href="/?cat=4">Trending Now <i class="fa-solid fa-chevron-right"></i></a></h3>
      <div class="videos-container" id="trendingVideos">
        <!-- Video tiles will be dynamically generated here -->
      </div>
      <h3 class="<%= (catParam === '1' || catParam === null || catParam === '0') ? '' : 'hidden' %>">
        <a href="/?cat=1">Recent Videos <i class="fa-solid fa-chevron-right"></i></a>
      </h3>
      <div class="videos-container" id="recentVideos">
        <!-- Video tiles will be dynamically generated here -->
      </div>
    </section>
  </main>
  <script src="js/script.js"></script>
  <script src="js/mobile.js"></script>
  <script src="js/homeCategories.js"></script>
</body>

</html>